@import "tailwindcss";


@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: #77096C;
  --color-secondary: #EAD7F8;
  --color-accent: #A855F7;

  --color-base-100: #F5F5F5;      /* background */
  --color-base-content: #111111;  /* text */
}
